.custom-navbar {
  padding: 0;
  height: $custom-navbar-height;

  &__logo {
    height: $custom-navbar-height;
    width: $sidebar-width;
    padding: $custom-navbar-padding;
    text-align: center;

    img {
      height: 100%;
    }
  }

  &__sidebar-toggle {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .custom-navbar {
    &__logo {
      display: inline-flex;
    }

    &__sidebar-toggle {
      cursor: pointer;
      display: flex;
      width: $custom-navbar-height;
      height: $custom-navbar-height;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
}

@include media-breakpoint-down(sm) {
  .nav-text {
    display: none;
  }
}

.content-header {
  padding: 32px 32px 10px 32px;
}

//@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
//  .content-header {
//    &__right {
//      float: left;
//    }
//  }
//}
//
//@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
//  .content-header {
//    &__title{
//      padding-right: 48px;
//    }
//  }
//}
